ul{
    list-style : none;
    margin : 0px;
}
.fl{
    float : left;
}
a{
    font-size : 12px;
    text-decoration : none;
    color : #666;
}
.headLeft{
    width : 50%;
    height : 34px;
}
.headLeft ul li{
    float : left;
    padding : 0px 10px;
    border-right : 1px solid #999;
    font-size: 14px;
}
.headRight{
    width : 50%;
    height : 34px;
}
.headSearch{
    position : relative;
}
.headSearch input{
    float : left;
    padding : 3px;
    width : 180px;
    font-size : 12px;
    border: 1px solid #dbdbdb;
}
.headSearch span{
    width : 43px;
    height : 22px;
    background : #fc6621;
    float : left;
    border-radius: 0 2px 2px 0px;
    margin-left : -1px;
}
.headRight i{
    width : 20px;
    height : 20px;
    background : url('../../images/head.png') no-repeat;
    display: inline-block;
} 
.headSearch i{
    background-position : -252px -77px;
    position : absolute;
    top : 0px;
    left : 192px;
}
.headMessage i{ 
    background-position : -303px -78px;
    margin-left : 50px;
}
.headTask i{
    background-position : -339px -81px;
    margin-left : 20px;
}
.quit{
    margin-left : 20px;
    height : 20px;
    line-height : 20px;
}